@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

    
/* styling for desktop header */
#desk-top-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:linear-gradient(#181f25, #13171a) ;
    font-family: 'Noto Sans', sans-serif; 
}
#desk-top-header h1,
#mobile-header h1 {
    color:#738085;
    padding: 0 10px;
    font-size: 28px;
}
.header-info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}
.header-info div {
    cursor: pointer;
}
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    color: #fff;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #282b2e;
    background-color: #0e0e0e;
}
.home p,
.users p{
    padding: 0 5px;
}
.users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    color: #a09f9c;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #282b2e;
    background-color: #0e0e0e;
}
.dropdown {
    position: relative;
}
.dropdown select {
    appearance: none;
    margin-right: 10px;
    color: #a09f9c;
    height: 30px;
    width: 95px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #282b2e;
    background-color: #0e0e0e;
    cursor: pointer;
}
.dropdown img{
    position: absolute;
    left: 80px;
    top: 10px;
    pointer-events: none;
}
.search input{
    background-color: #20272d;
    color: #a09f9c;
    margin-right: 5px;
    height: 27px;
    width: 100px;
    padding-left: 10px;

    border-radius: 25px;
    border: none;
    border-bottom: 2px solid #282b2e;
}
.search {
    position: relative;
}
.search img{
    position: absolute;
    left: 85px;
    top: 8px;
    pointer-events: none;
}
.john-smith select {
    appearance: none;
    margin-right: 10px;
    color: #a09f9c;
    height: 30px;
    width: 95px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif; 
}
.john-smith {
    display: flex;
    position: relative;
    align-items: center;
}

.john-smith #img2{
    position: absolute;
    left: 135px;
    top: 15px;
    pointer-events: none;
}

/* header styling for i-pad-nav */
.i-pad-nav {
    display: none;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-image:linear-gradient(#181f25, #13171a); 
}
.i-pad-nav img{
    margin: 5px;
    padding: 5px;
    background-color: #0b0f12;
    border-radius: 5px;
}
/* mobile-header-styling */
#mobile-header {
    width: 100%;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(#181f25, #13171a) ;
}
.mobile-nav img {
    cursor: pointer; 
}
main{
    width: 100%;
    display: flex;
}

#main-left {
    width: 15%;
    min-width: 15rem;
    background-color: #111518;
    color: #738085;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
#main-left .active {
    border-left: 5px solid rgba(4, 215, 252, 0.829);
}
#main-left .l:hover {
    background-color: #20272d;
}
.left-dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 80px;
    height: 50px;
    background-image: url('../images/dashboard-img.jpg');
    background-repeat: no-repeat;
    background-position: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 5px solid #20272d;
}
.left-ui-lab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 75px;
    position: relative;
    height: 50px;
    background-image: url('../images/lab-img.jpg');
    background-repeat: no-repeat;
    background-position: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 5px solid #20272d;
}
.left-ui-lab select{
    background-color: transparent;
    color: #738085;
    appearance: none;
    border: none;
    width: 70px;
    font-family: 'Open Sans', sans-serif;
}
.left-ui-lab img{
    position: absolute;
    padding-left: 55px;
    pointer-events: none;
}
.left-forms {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 80px;
    height: 50px;
    background-image: url('../images/forms-img.jpg');
    background-repeat: no-repeat;
    background-position: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 5px solid #20272d;
}
.left-chart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 80px;
    height: 50px;
    background-image: url('../images/charts-img.jpg');
    background-repeat: no-repeat;
    background-position: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 5px solid #20272d;
}
.left-other {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 75px;
    position: relative;
    height: 50px;
    background-image: url('../images/lab-img.jpg');
    background-repeat: no-repeat;
    background-position: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 5px solid #20272d;
}
.left-other select{
    background-color: transparent;
    color: #738085;
    appearance: none;
    border: none;
    width: 70px;
    font-family: 'Open Sans', sans-serif;
}
.left-other img{
    position: absolute;
    padding-left: 55px;
    pointer-events: none;
}
.left-cpu-usage {
    height: 75px;
    background-image: url("../images/cpu-usage.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 75px;
    background-position-x: 20px;
    padding: 300px 0 0 4.5rem;
    border-bottom: 1px solid #000;
    
}
.left-orders {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    
}
.left-orders div p,
.left-income div p,
.left-reviews div p {
    margin: 0;
}
.left-orders div span {
    margin-left: 5px;
}
.left-income div span {
    margin-left: -10px;
}
.left-reviews div span {
    margin-left: 10px;
}
#orderNo {
    font-size: 1.25rem;
    font-weight: bold;
}

.left-income {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #77923f;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
}
.left-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6b97af;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
}
/* main-right css*/
/* rigth dashboard css */
#main-right {
    width: 100%;
    background-color: #f0f0f0;
    padding-bottom: 25px;
}
.right-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#f8f8f8, #f0f0f0);
    border-bottom: 1.5px solid #d5d5d5;
    color: #8f8f8f;
    padding: 20px 20px;  
    font-family: sans-serif;  
}
.right-dashboard-child-1 {
    background-image: url('../images/dashbord2-img.jpg');
    background-repeat: no-repeat;
    padding: 0 35px;
    font-size: 22px;
}
.right-dashboard-child-1 p {
    font-size: 14px;
}
.right-dashboard-child-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-dashboard-child-2 div div p {
    font-size: 14px;
}
.right-orders div span {
    margin-left: 4px;
    color: #6b97af;
}
.right-orders {
    display: flex;
    padding-right: 10px;
}
.right-reviews div span {
    margin-left: 8px;
    color: #95cd67;
}
.right-reviews {
    display: flex;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.right-visits div span {
    margin-left: 9px;
    color: #dd5162;
}
.right-visits {
    display: flex;
    padding-left: 10px;
}


/* right dash board end */


/* satrt home dashboard */
.right-home-dashboard {
    font-family: sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(66, 64, 64, 0.432);
    border-radius: 5px;

}
.r-home {
    background-image: url('../images/big-right-arrow3.jpg');
    padding: 8px 20px;
    background-color: #84bfeb;
    border-radius: 5px 0 0 5px;
    background-size: contain;
    font-weight: bold;
    color: #fff;
}
.r-home-dashboard {
    width: 100px;
    position: relative;  
    color: #8f8f8f;
}
.r-home-dashboard .img1 {
    height: 34px;
    position: absolute;
    left: -3px;
    top: -17px;
}
.r-home-dashboard .img2 {
    
    position: absolute;
    left: 20px;
    top: -10px;
}
.r-home-dashboard p {
    position: absolute;
    top: -26px;
    left: 43px;
}
/* right icon charts */

.right-icons-charts {
    display: flex;
    padding: 20px 10px 10px 10px;
    background-color: #f0f0f0;
  }
  .icons {
    display: flex;
  }
  .row {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(#f9f9f9, #f0f0f0);
    width: 120px;
    height: 75px;
    margin: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    position: relative;
  }
  .row #img1{
    position: absolute;
    top: 10px;
    left: 40px;
  }
  .row #img2{
    position: absolute;
    top: 0;
    right: 0;
  }
  .right-icon-1 span{
    position: absolute;
    top: 45px;
    left: 15px;
    color: #8c8c8c;
    font-weight: bold;
  }
  .right-icon-2 span,
  .right-icon-6 span {
    position: absolute;
    top: 45px;
    left: 20px;
    color: #8c8c8c;
    font-weight: bold;
  }
  .right-icon-3 span {
    position: absolute;
    top: 45px;
    left: 40px;
    color: #8c8c8c;
    font-weight: bold;
  }
  .right-icon-4 span {
    position: absolute;
    top: 45px;
    left: 35px;
    color: #8c8c8c;
    font-weight: bold;
  }
  .right-icon-5 span{
    position: absolute;
    top: 45px;
    left: 30px;
    color: #8c8c8c;
    font-weight: bold;
  }
  .right-icon-1 p{
    position: absolute;
    top: -17px;
    right: 3px;
    color: #fff;
    font-weight: 800;
  }
  .right-icon-2 p{
    position: absolute;
    padding: 2px 5px;
    top: 1px;
    right: 1px;
    margin: 0;
    background-color: #52504e;
    color: #fff;
    border-radius: 4px;
    font-weight: 800;
    font-size: 13px;
  }
  .right-icon-4 p{
    position: absolute;
    top: -14px;
    right: 2px;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
  }
  .right-icon-6 p{
    position: absolute;
    top: -14px;
    right: 2px;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
  }
  /* styling right-charts */
  .right-charts{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin: 5px 10px;
    width: 100%;
  }
  .right-chart-header-setting {
    display: flex;
    height: 51px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    background-image: linear-gradient(#f2f2f2, #e5e5e5);
    border-radius: 4px 4px 0 0
  
  }
  .right-chart-header-setting h3 {
    padding: 20px;
    color: #8c8c8c;
  
  }
  .right-chart-header-setting img {
    padding: 17px 15px;
    border-left: 1px solid  #cfcfcf;
  }
  .chart-total-visits,
  .chart-bottom-visit {
    margin: 20px 0px 20px 20px;
    position: relative;
    color: #8c8c8c;
    max-width: 200px;
  }
  
  .chart-total-visits .no-visit {
    position: absolute;
    top: 0px;
    font-size: 30px;
  }
  .chart-total-visits p,
  .chart-new-visits p,
  .chart-page-visits p {
    margin: 0;
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  .no-visit {
      position: absolute;
      top: 2px;
      padding-left: 5px;
  }
  .bar {
    background: #dadada;
    display: block;
    height: 2px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
  }
  .bar span {
    height: 2px;
    float:left;
    background: #79c4fb;
  }
  .percent1,
  .percent3 {
    width: 80%;
  }
  .percent2 {
    width: 60%;
  }
  .chart-bottom-visit {
    display: flex;
  }
  .chart-new-visits {
    margin-right: 10px;
    min-width: 95px;
  }
  .chart-page-visits {
    min-width: 95px;
  }
  .chart-container {
    display: flex;
    background-color: #fcfcfc;
  
  }
  .chart-visits {
    margin: 0 1% 0;
    padding-bottom: 20px;
  }
  .chart-graph {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/chart.jpg');
    background-position: center;
  }

/* calander and srollbox styling */

.calender-scrollbox {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
}

.scrollbox {
    height: auto;
    margin: 20px 20px;
    border: 1px solid #cfcfcf;
    min-width: 450px;
}
.scrollbox-header {
    display: flex;
    height: 51px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    background-image: linear-gradient(#f2f2f2, #e5e5e5);
    border-radius: 4px 4px 0 0;
}
.s-box-h {
    margin: 0;
    padding: 20px;
    color: #8c8c8c;
}
.s-box-value {
    font-weight: bold;
    color: #fff;
    background-color:#5a9bc3;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.scroll-box {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.scrollbox-body {
    color: #8c8c8c;
    height: 619px;
    overflow-y: scroll;
    background-color: #fcfcfc;
}
.scroll-box div h4 {
    margin: 0;
    font-size: 20px;
}
.scroll-box div p {
    margin: 0;
}
.scrollbox img {
    padding: 10px;
}
.scroll-box div {
    padding: 10px 20px 0 10px;
    
}
.scroll-box-date {
    font-size: 28px;
    font-weight: bold;
    padding: 5px 10px 0 0;
}
.scroll-box-month {
    font-size: 20px;
    padding: 5px 10px 0 0;
}
/* styling bottom part of page */
.extras {
    font-family: 'Noto Sans', sans-serif;
}
.b-comment {
    display: flex;
    margin: 20px 10px 20px 20px;
    color: #8c8c8c;
}
.comment-body {
    width: 100%;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    padding: 10px 0;
    background-color: #ffffff;
    position: relative;
}
.comment-header {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
}
.comment-header .id {
    margin: 0 15px;
    padding: 3px 5px;
    background-color: #73ac62;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.comment-header .post-on {
    margin: 0 10px;
}
.comment-header img {
    position: absolute;
    border: 1px solid #cfcfcf;
    transform: rotate(45deg);
    left: -8px;
    border-top: none;
    border-right: none;
}
.comment-header .timer {
    float: right;
    background-image: url('../images/time.jpg');
    background-repeat: no-repeat;
    background-position-y: 3px;
    margin: 0 20px;
    padding-left: 25px;
}
.comment-info {
    margin: 10px 15px;
    padding-left: 15px;
    border-left: 5px solid rgba(221, 221, 221, 0.534);
}
.comment-body .attch {
    background-image: url('../images/attch.jpg');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 3px;
    padding-left: 35px;
}
.task-header {
    border-bottom: none;
    padding-bottom: 0px;
}

.task-header .id {
    margin: 0 15px;
    padding: 3px 5px;
    background-color: #78a6c8;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.task-header .post-on {
    margin: 0 10px;
}
.task-header img {
    position: absolute;
    border: 1px solid #cfcfcf;
    transform: rotate(45deg);
    left: -8px;
    border-top: none;
    border-right: none;
}
.task-header .timer {
    float: right;
    background-image: url('../images/time.jpg');
    background-repeat: no-repeat;
    background-position-y: 3px;
    margin: 0 20px;
    padding-left: 25px;
}
.file-header .id {
    margin: 0 15px;
    padding: 3px 5px;
    background-color: #958dbd;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.file-header .post-on {
    margin: 0 10px;
}
.file-header img {
    position: absolute;
    border: 1px solid #cfcfcf;
    transform: rotate(45deg);
    left: -8px;
    border-top: none;
    border-right: none;
}
.file-header .timer {
    float: right;
    background-image: url('../images/time.jpg');
    background-repeat: no-repeat;
    background-position-y: 3px;
    margin: 0 20px;
    padding-left: 25px;
}
/* bottom 3 boxes */
.b-file {
    margin-bottom: 0;
}
/* styling for 3 box */
.b-file-boxes {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px 0 73px;
    border: 1px solid #cfcfcf;
    border-top: none;
    background-color: #fff;
}
.boxes {
    cursor: pointer;
    margin: 30px 20px 50px 20px;
    height: 100px;
    max-width: 16vw;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}
.boxes div {
    display: grid;
    place-items: center;
}
.box-1,
.box-2,
.box-3 {
    background-color: #cccccc;
    height: 90px;
    width: 95.5%;
    position: absolute;
    top: 5px;
    left: 5px;
    
}
.lit {
    border: 1.5px solid #6dbff2;
    box-shadow: 1px 1px 12px #6dbff2;
}
.boxes:hover {
    border: 1.5px solid #6dbff2;
    box-shadow: 1px 1px 12px #6dbff2;
}

/* bottom last part styling */
.b-core-admin {
    font-family: 'Noto sans',sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #8c8c8c;
    background-color: #fff;
    position: relative;
    margin: 20px 20px 0 73px;
    border: 1px solid #cfcfcf;
}
.b-core-admin p {
    margin: 15px 0 0 75px;
}
.b-core-admin em {
    margin-left: 75px;
    
}
.b-core-admin .img1 {
    position: absolute;
    height: 33px; width: 32px;
    top: 20px;
    left: 350px;    
}
.b-core-admin textarea {
    width: 90%;
    margin: 20px;
    height: 30px;
    border: 1px solid #cfcfcf;
    padding-left: 10px;
    padding-top: 10px;
}
.b-core-admin .img2 {
    border: 1px solid #cfcfcf;
    border-bottom: none; border-right: none;
    transform: rotate(45deg);
    position: absolute;
    height: 10px; width: 10px;
    top: 69px;
    left: 50px; 
}
/* .b-core-admin .img3 {
    position: absolute;
    height: 20px; width: 20px;
    top: 80px;
    right: 40px; 
    pointer-events: none;
} */
strong {
    color: #474747;
}

/* Calender styling */
/* calender styling */
.calender {
    height: auto;
    margin: 20px 20px;
    border: 1px solid #cfcfcf;
    color: #8c8c8c;
    width: 100%;
    min-width: 450px;
}
.calender-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    background-image: linear-gradient(#f2f2f2, #e5e5e5);
    height: 49px;
}
.calender-header div {
    display: flex;
}
.cal-box-h {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 20px;
    color: #8c8c8c;
}
.calender-header div span{
    padding: 13px 20px;
    border-left: 1px solid #cfcfcf;
}
.cal-month {
    background-image: linear-gradient(#f9f9f9, #f1f1f1);
}
.month-header {
    background-color: white;
    text-align: center;
    height: 40px;
    border-bottom: 1.5px solid #ddd;
  }
  
  .left-arrow {
    float: left;
    margin: 5px 10px;
  }
  .right-arrow {
    float: right;
    margin: 5px 10px;
  }
  
  .month-header span {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    height: auto;
    font-size: 14px;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
  }

/* media querry for desk-top to i-pad */
@media (max-width: 1100px) {
    .home,.users,
    .dropdown,
    .search,
    .john-smith,
    #main-left {
        display: none;
    }
    .i-pad-nav{
        display: flex;
     } 
    
}
/* media queryry for mobile  */

@media (max-width: 484px) {
    #mobile-header {
        display: flex;
        min-width: 330px;
    }
    #desk-top-header{
        display: none;
     }   
     .right-dashboard {
         display: block;
         /* min-width: 370px; */
         /* flex-direction: column; */
     } 
     .right-dashboard-child-1 {
         display: grid;
         place-items: center;
        background-position-x: 25%;
        padding-bottom: 20px;
     }
    
}
@media (max-width: 754px) {
    .right-dashboard-child-2 div img {
        display: none;
    }
    .right-home-dashboard {
        width: 90%;
    }
}