
  .month-header {
    background-color: white;
    text-align: center;
    height: 40px;
    border-bottom: 1.5px solid #ddd;
  }
  
  #left-arrow {
    float: left;
    margin: 5px 10px;
  }
  #right-arrow {
    float: right;
    margin: 5px 10px;
  }
  
  .month-header span {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    height: auto;
    font-size: 14px;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar-table th {
    width: 50px;
    border-right: 1px solid #ccc;
    border-bottom: none;
    font-size: 14px;
    padding: 5px;
    background-color: #fff;
  }
  tbody {
    background-color: #fff;
  }
  
  .row1 td {
    border: 1px solid #cfcfcf;
    
    border-left: none;
    /* background-color: white; */
    height: 80px;
    position: relative;
  }
  
  .row2 td {
    border: 1px solid #cfcfcf;
    border-left: none;
    /* background-color: white; */
    height: 65px;
    position: relative;
  }
  
  .row3 td {
    border: 1px solid #cfcfcf;
    border-left: none;
    /* background-color: white; */
    height: 110px;
    position: relative;
    
  }

  .row4 td {
    border: 1px solid #cfcfcf;
    border-left: none;
    /* background-color: white; */
    height: 67.5px;
    position: relative;
  }
  
  .calendar-table .date {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .calendar-table #present-date {
    background-image: linear-gradient(#f5f3e7, #f5f3e7);
  }
  
  #all-day-event{
    background-color: #709bbd;
    display: block;
    min-width:50px;
    margin: 35px 3px 5px 3px;
    border-radius: 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
  }
  
  #date19-longevent{
    background-color: #709bbd;
    display: block;
    min-width: 90px;
    margin: 35px 0px 5px 3px;
    border-radius: 0.5ch 0 0 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: 0;
  }
  
  #date21-repeatevent{
    background-color: #709bbd;
    display: block;
    min-width:50px;
    margin: 35px 3px 5px 3px;
    border-radius: 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: 20px;
  }
  .google {
    background-color: #709bbd;
    display: block;
    min-width:90px;
    margin: 35px 0px 5px 3px;
    border-radius: 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: -8px;
  }
  #date24-meeting{
    display: block;
    background-color: #709bbd;
    min-width:50px;
    margin: 35px 3px 5px 3px;
    border-radius: 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
  }
  
  #date24-lunch{
    display: block;
    background-color: #709bbd;
    min-width:50px;
    margin: 5px 3px 5px 3px;
    border-radius: 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
  }
  
  #date25-bday{
    display: block;
    background-color: #709bbd;
    min-width:50px;
    margin: 35px 3px 5px 3px;
    border-radius: 0.5ch;
    color: white;
    font-size: 12px;
    padding: 5px;
  }