@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400&display=swap');


body{
      width: 100%;
      color: #444;
      font-family: 'Georama', sans-serif;
      margin: 0;
      padding: 0;
}

.header{
      width: 100%;
      height: 50px;
      display: inline-flex;
      background-image: url("../Images/hdr-navi.jpg");
}

.header-logo-1{
      padding: 5px;
}
.header-logo-2{
      margin: 0 auto 0 auto;
}
.header-logo-3{
      padding: 5px;
}
.info{
      width: 100%;
      display: flex;
      background-color: #ffffff;
}
.content{
      margin: 0 auto 0 0;
      padding-left: 10px;
      color: #444;
}
.job-description{
      display: inline-flex;

}
.content p{
      margin: 20px 10px 5px 10px;
}
#id{
      font-size: 1rem;
}
#name{
      margin-top: 0;
      font-size: 2rem;
}
.data-1{
      padding: 0 35px 10px 20px;
      border: 1px solid #ddd;
      border-radius: 8px 0 0 8px;
}
.data-2{
      padding: 0 35px 10px 20px;
      border: 1px solid #ddd;
}
.data-3{
      padding: 0 35px 10px 20px;
      border: 1px solid #ddd;
}
.data-4{
      padding: 0 35px 10px 20px;
      border: 1px solid #ddd;
      border-radius: 0 8px 8px 0;
}
.value{
      padding-top: 10px;
}
.icon{
      margin: 20px 0px 20px 20px;
}
.nav{
      width: 100%;
      margin-top: 10px;
      display: flex;
      background-image: url("../Images/main-hdr-bg.jpg")
}
.task{
      text-align: center;
      padding: 10px;
}
.tasks{
      margin: 15px auto 5px auto;
      padding-left: 25px;
      color: #ffffff;
}
.new-task {
      position: relative;
      text-align: center;
      color: white;
      margin-top: 5px;
      margin-right: 25px;
}
.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.parent{
        width: 100%;
        display: inline-flex;
        margin: 0;
        border-bottom:  1.5px solid #ddd;
}
.sibling-1{
        margin: 10px;
        max-width: 200px;
        max-height: 126px;
        border: 1.5px solid #ddd;
}
.sibling-2{
        margin: 10px 30px 10px 10px;
}
.sibling-2 h2{
        margin: 0px;
}

.attachment{
        display: flex;
        margin-top: 0px;
        border: 1.5px solid #ddd;
        width: 65px;
}
.attachment img{
        margin-left: 10px;
        margin-right: 10px;
        object-fit: cover;

}
.sibling-3{
        margin: 10px;
}
.sibling-3 h3{
        margin-bottom: 5px;
        margin-top: 5px;
}
.sibling-4{
        margin: auto 10px auto 30px;
}
.allcolor{
        display: inline-flex;
        max-width: 300px;
        max-height: 45px;
        text-align: center;
        color: #ffffff;
}
.green-1{
        background-image: url("../Images/green-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 20px 0 0 20px;
}
.orange-1{
        background-image: url("../Images/orange-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
}
.red-1{
        /* background-image: url("img/red-color.jpg"); */
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 0 20px 20px 0;
}
.green-2{
        background-image: url("../Images/green-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 20px 0 0 20px;
}
.orange-2{
        background-image: url("../Images/orange-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
}
.red-2{
        background-image: url("../Images/red-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 0 20px 20px 0;
}
.green-3{
        background-image: url("../Images/green-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 20px 0 0 20px;
}
.orange-3{
        background-image: url("../Images/orange-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
}
.red-3{
        background-image: url("../Images/red-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 0 20px 20px 0;
}
.green-4{
        background-image: url("../Images/green-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 20px 0 0 20px;
}
.orange-4{
        /* background-image: url("img/orange-color.jpg"); */
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
}
.red-4{
        /* background-image: url("img/red-color.jpg"); */
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 0 20px 20px 0;
}
.green-5{
        background-image: url("../Images/green-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 20px 0 0 20px;
}
.orange-5{
        background-image: url("../Images/orange-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
}
.red-5{
        background-image: url("../Images/red-color.jpg");
        width: 50px;
        height: 20px;
        border: 1.25px solid #ddd;
        border-radius: 0 20px 20px 0;
}
.footer{
          display: inline-flex;
          width: 100%;
          margin: 10px 0 10px 0;
}
.footer-img-1{
          margin: 0 auto 0 0;
}
.footer-text{
      margin: 0 20px 0 auto;
      display: flex;

}
.text{
      font-size: 15px;
      color: white;
      padding: 0 10px 0 10px;
      background-color: #0494cc;
      width: 250px;
      height: 50px;
      border: .25px solid #0494cc;
      border-radius: 5px;
}
